<!-- templates/colauncha_mail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Service Request</title>
</head>
<body>
    <h1>Service Request</h1>
    <p><b>Company name:</b> {{ company_name }}</p>
    <p><b>Project name:</b> {{ project_name }}</p>
    <p><b>Budget:</b> {{ estimated_budget }}</p>
    <p><b>Timeline (days):</b> {{ max_project_time }}</p>
    <p><b>Country:</b> {{ country }}</p>
    <br>
    <pre><b>Description:</b> {{ description }}</pre>
    <p><b>Phone:</b> {{ phone }}</p>
    <p><b>Email Address:</b> {{ email }}</p>
</body>
</html>